{
  "openapi": "3.0.0",
  "info": {
    "title": "API - Montir App",
    "version": "1.0.0",
    "description": ""
  },
  "servers": [
    {
      "url": "https://montir.tempakodedevelopment.my.id/api"
    }
  ],
  "paths": {
    "/profil": {
      "get": {
        "summary": "Get Profil",
        "tags": ["1. Auth", "Profil"],
        "responses": {
          "200": {
            "description": "as Bengkel",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/profil/update": {
      "put": {
        "summary": "Update Profil",
        "tags": ["1. Auth", "Profil"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nama": {
                    "type": "string"
                  },
                  "alamat": {
                    "type": "string"
                  },
                  "no_telp": {
                    "type": "string",
                    "format": "utc-millisec"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profil/update-foto": {
      "post": {
        "summary": "Update Foto Profil",
        "tags": ["1. Auth", "Profil"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/profil/change-password": {
      "put": {
        "summary": "Change Password",
        "tags": ["1. Auth", "Profil"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Failed",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Error Validation",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password_lama": {
                    "type": "string"
                  },
                  "password_baru": {
                    "type": "string"
                  },
                  "password_baru_confirmation": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/register": {
      "post": {
        "summary": "Register User",
        "tags": ["1. Auth"],
        "responses": {
          "201": {
            "description": "as Bengkel",
            "headers": {
              "Server": {
                "schema": {
                  "deprecated": false
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "deprecated": false
                }
              },
              "Connection": {
                "schema": {
                  "deprecated": false
                }
              },
              "X-Powered-By": {
                "schema": {
                  "deprecated": false
                }
              },
              "Cache-Control": {
                "schema": {
                  "deprecated": false
                }
              },
              "Date": {
                "schema": {
                  "deprecated": false
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "deprecated": false
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nama": {
                    "type": "string"
                  },
                  "alamat": {
                    "type": "string"
                  },
                  "no_telp": {
                    "type": "string",
                    "format": "utc-millisec"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "format": "utc-millisec"
                  },
                  "password_confirmation": {
                    "type": "string",
                    "format": "utc-millisec"
                  },
                  "role": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/login": {
      "post": {
        "summary": "Login",
        "tags": ["1. Auth"],
        "responses": {
          "200": {
            "description": "Success as Pelanggan",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Failed",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bengkel-management/montir/tambah-montir": {
      "post": {
        "summary": "Add Montir",
        "tags": ["2. Bengkel Management", "Montir"],
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Failed",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nama": {
                    "type": "string"
                  },
                  "alamat": {
                    "type": "string"
                  },
                  "no_telp": {
                    "type": "string",
                    "format": "utc-millisec"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "format": "utc-millisec"
                  },
                  "password_confirmation": {
                    "type": "string",
                    "format": "utc-millisec"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bengkel-management/montir/hapus-montir/1": {
      "delete": {
        "summary": "Delete Montir",
        "tags": ["2. Bengkel Management", "Montir"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/bengkel-management/montir/daftar-montir": {
      "get": {
        "summary": "List Montir",
        "tags": ["2. Bengkel Management", "Montir"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/bengkel-management/simpan-data-bengkel": {
      "post": {
        "summary": "Create Data Bengkel",
        "tags": ["2. Bengkel Management"],
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/bengkel-management/cek-validasi": {
      "get": {
        "summary": "Check Status Validate",
        "tags": ["2. Bengkel Management"],
        "responses": {
          "200": {
            "description": "Pending/Reject",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/bengkel-management/daftar-layanan": {
      "post": {
        "summary": "Add Services",
        "tags": ["2. Bengkel Management"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jenis_layanan": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bengkel-management/update-layanan/2": {
      "put": {
        "summary": "Update Service",
        "tags": ["2. Bengkel Management"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jenis_layanan": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bengkel-management/hapus-layanan/14": {
      "delete": {
        "summary": "Delete Service",
        "tags": ["2. Bengkel Management"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/bengkel-management/layanan-bengkel": {
      "get": {
        "summary": "List Services",
        "tags": ["2. Bengkel Management"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/public/cari-bengkel": {
      "get": {
        "summary": "find the nearest repair shop based on the type of service",
        "tags": ["3. Public Montir"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "jenis_layanan": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/detail-bengkel/10": {
      "get": {
        "summary": "Detail RepairShop",
        "tags": ["3. Public Montir"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Failed",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/bengkel-management/order-layanan/assign-montir/1": {
      "put": {
        "summary": "Assign Montir By Bengkel",
        "tags": ["4. Order Layanan", "Bengkel Action"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "montir_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bengkel-management/order-layanan/list-order-bengkel": {
      "get": {
        "summary": "List Order",
        "tags": ["4. Order Layanan", "Bengkel Action"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/bengkel-management/order-layanan/update/kelokasi/1": {
      "put": {
        "summary": "Montir Kelokasi",
        "tags": ["4. Order Layanan", "Bengkel Action"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/bengkel-management/order-layanan/update/kerjakan/1": {
      "put": {
        "summary": "Montir Mengerjakan Service",
        "tags": ["4. Order Layanan", "Bengkel Action"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/bengkel-management/order-layanan/update/selesai/1": {
      "put": {
        "summary": "Montir Selesai",
        "tags": ["4. Order Layanan", "Bengkel Action"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "harga_layanan": {
                    "type": "integer"
                  },
                  "item_service": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "nama_item": {
                          "type": "string"
                        },
                        "harga": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bengkel-management/order-layanan/validasi-pembayaran/1": {
      "put": {
        "summary": "Validasi Pembayaran",
        "tags": ["4. Order Layanan", "Bengkel Action"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/order-layanan/buat-order": {
      "post": {
        "summary": "Create Order (Pelanggan)",
        "tags": ["4. Order Layanan"],
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "layanan_bengkel_id": {
                    "type": "integer"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/order-layanan/order-history": {
      "get": {
        "summary": "Order History",
        "tags": ["4. Order Layanan"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/order-layanan/detail-order/1": {
      "get": {
        "summary": "Detail Order",
        "tags": ["4. Order Layanan"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/order-layanan/pembayaran/1": {
      "post": {
        "summary": "Upload Bukti Pembayaran",
        "tags": ["4. Order Layanan"],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/order-layanan/ulasan/1": {
      "post": {
        "summary": "Ulasan & Rating",
        "tags": ["4. Order Layanan"],
        "responses": {},
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rating": {
                    "type": "integer"
                  },
                  "ulasan": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ping": {
      "get": {
        "summary": "Ping",
        "tags": [],
        "responses": {}
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
